---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Jack Laurenson"
	pubDate={new Date()}
>
	<p>
		Hi, I'm Jack. I write about machine learning and related topics.
	</p>
	<p>
		Find me on <a href="https://github.com/laurenjack">GitHub</a>.
	</p>
</Layout>
